<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETFLIX - main</title>
    <link rel="stylesheet" href="./../../css/style.css" />
  </head>
  <body>
    <main class="main">
      <div class="main-container">
        <hgroup class="main-text">
          <h1>영화, TV 프로그램을<br />무제한으로.</h1>
          <em>
            다양한 디바이스에서 시청하세요.
            <p class="em-p-text">언제든 해지하실 수 있습니다.</p>
          </em>
          <p>
            시청할 준비가 되셨나요? 멤버십을 등록하거나<br />재시작하려면 이메일
            주소를 입력하세요.
          </p>
        </hgroup>

        <form class="promotion-form" method="post">
          <div class="promotion-email">
            <label for="email" class="sr-only">이메일 주소 입력하기</label>
            <input type="email" class="email-input" placeholder="이메일 주소" />
            <div class="promotion">
              <a href="/">
                30일 무료 이용
                <img src="./../../images/promotion-arrow.svg" alt="" />
              </a>
            </div>
          </div>
          <h3 class="promotion-desc">
            신규 회원만 이 프로모션을 이용하실 수 있습니다.
          </h3>
        </form>
      </div>
    </main>
  </body>
</html>
