<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETFLIX - button</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="button-container">
      <div class="select-lang">
        <select name="language" id="lang">
          <option value="ko">한국어</option>
          <option value="en">English</option>
        </select>
      </div>

      <div class="login">
        <a href="/">로그인</a>
      </div>

      <div class="promotion">
        <a href="/">
          30일 무료 이용
          <img src="./../../images/promotion-arrow.svg" alt="" />
        </a>
      </div>
    </div>
  </body>
</html>
