<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETFLIX - button</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="button-container">
      <div class="select-lang">
        <button type="button" class="language">한국어</button>
        <ul class="listbox" id="listbox">
          <li><button class="list">한국어</button></li>
          <li><button class="list">English</button></li>
        </ul>
      </div>

      <div class="login">
        <a href="/">로그인</a>
      </div>

      <div class="promotion">
        <a href="/"
          >30일 무료 이용
          <img src="./../../images/promotion-arrow.svg" alt="" />
        </a>
      </div>
    </div>
  </body>
</html>
