/* 변수 선언 */
:root {
  --unnamed: #fefefe;
}

/* 기본 디자인 설정 */
html {
}

body {
  background: url(./images/background.png) no-repeat;
  background-position: center -60px;
  font-family: "Spoqa Han Sans";
}

/* 로그인 */
.login {
  margin-top: 100px;
}

/* 로그인 타이틀 스타일 */
h2 {
  color: var(--unnamed);
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: -0.72px;
  margin-bottom: 24px;
}

p {
  color: var(--unnamed);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

em {
  font-size: 18px;
  letter-spacing: -0.36px;
  font-style: normal;
}

/* 반응형 화면 구성*/
@media only screen and (max-width: 600px) {
  body {
    background-position: -330px -60px;
  }
}

/* 로그인 폼 */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 500px; */
}

fieldset {
  position: relative;
  border: none;
}

legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.user-email {
  margin-top: 122px;
  margin-bottom: 31px;
}

input {
  border: none;
  width: 540px;
  height: 48px;
  background: none;
  border-bottom: 0.5px solid var(--unnamed);
  padding: 0;
  margin: 0;
}

input::placeholder {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #fefefe;
  padding-left: 8px;
  /* line-height: 27px; */
  /* position: absolute; */
  /* top: 18px; */
  /* left: 8px; */
}

.login-remember {
  margin-top: 14px;
  height: 16px;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--unnamed);
}

#email-save {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
}

.login-remember label {
  margin-top: -10px;
}
/* 버튼 컨테이너 */
/* a {
  text-align: right;
} */

/* 버튼 */
.button-container {
  width: 540px;
  height: 48px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
/* 로그인 버튼 */
.login-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #24388d;
  width: 260px;
  height: 48px;
  vertical-align: top;
  border-radius: 8px;
}

/* 회원가입 링크 */
.sign-up {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  border: 1px solid var(--unnamed);
  color: var(--unnamed);
  width: 260px;
  height: 22px;
  padding: 10px 0;
  border-radius: 8px;
}
