body {
  background-color: black;
  margin: 0;
}

.footer {
  color: #acacac;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 링크 공통 스타일 지정 */
  & a {
    color: #acacac;
    text-decoration: none;
  }
}

.footer-container {
  width: 80rem;
  margin-top: 3rem;
  padding: 0 1.6rem;
}

/* 가이드 영역 스타일 */
.guide-text {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01px;
  display: flex;
}

.guide-list {
  list-style: none;
  margin: 50px 0 48px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* 주소 영역 스타일 */
.footer-address {
  & * {
    font-style: normal;
  }

  & em {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 120%;
    margin: 2.9rem 0 1rem 0;
  }
}

.address {
  font-weight: 500;

  & span {
    display: block;
  }
}

/* 모바일 환경 */
@media (max-width: 768px) {
  .footer-container {
    margin-top: 2.5rem;
  }
  .guide-text {
    display: block;
  }
  .guide-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }

  .footer-address em {
    font-size: 1.2rem;
    margin: 1.8rem 0 0.6rem 0;
  }

  .address {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
