body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 데스크탑 배경 */
@media (min-width: 768px) {
  body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
      url(./../images/background.png) #000 no-repeat;
    background-size: 100%;
  }
  .footer {
    background-color: #000;
  }
}

/* 모바일 배경 */
@media (max-width: 768px) {
  .header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
      url(./../images/mobile-background.png);
    background-size: 100%;
  }
}
